In [1]:
#Python 
# intrepreted language - no compilation happening 
# code is translated line by line at runtime
# language like c++ / java is compiled before hand i.e create object code and run it 
# as python is compiled at run time - it is slow .. but translation to compiled is happenign in parallel line by line
# no pre compilation into machine code, compilation happens at run time
# platform independant - python virtual machine 
# java script / ruby / perl / php - these are intepreted language

In [2]:
# indentation is very important in python

In [3]:
a = 10
a = "hello world"
print(a)

hello world

In [4]:
# is used to comment

In [5]:
str = 'hello world'
len(str)

11

In [6]:
# operator
# == => equal to 
# != => not equal to 
# >= gretaer than equal to 
# <= less than equal to 

# conditional operator
# and 
# or 

# bitwise operator
# & => 2 & 2
# && => only in c++

In [7]:
# data types
# mutable data types & immutable data types

# immutable data types - 
# int
# string
# boolean
# tuple
# frozen set

# mutable data type
# list
# set
# dictionary
# array - numpy array

In [8]:
# there basic braces in python
# [] () {}

In [10]:
# boolean 
a = True
print (a)

b = False
print(b)

True
False

In [18]:
# list
# sequential in nature
# mutable data type

list = [10,20,30,40]
print(list)

print(list[0])

nestedList = [100, 200, [1, 2, 3]]
print(nestedList)
print(nestedList[2])

# modify list values
list[1] = 200
print(list)

# 
print(list[1:2])
print(list[:2])
print(list[2:])

[10, 20, 30, 40]
10
[100, 200, [1, 2, 3]]
[1, 2, 3]
[10, 200, 30, 40]
[200]
[10, 200]
[30, 40]

In [33]:
# tuple
# it has ()
# immutable
# its like list only but not mutable 

tup = (1, 2, 3, 4, 5)
tup = (5, 2, 3, 4, 5)
print(tup)

#tup[0] = 44

(5, 2, 3, 4, 5)

In [38]:
# set
# contains only unique data 
# wont have duplicates
# starts with {}

set = {10, 20, 20, 30, 40, 100}
print(set)

#set[0] = 200
#print(set[0])

# add
set.add(1000)
set.add(1000)
print(set)

# remove
set.remove(10)
print(set)
#set.remove(10)

# discard
set.discard(10)
print(set)

{100, 20, 40, 10, 30}
{100, 20, 40, 1000, 10, 30}
{100, 20, 40, 1000, 30}
{100, 20, 40, 1000, 30}

In [40]:
# dictionary
# key : value
# starts with {key:value}

capital = {"india" : "delhi", "canada" : "ottawa"}
print(capital)

print(capital["india"])

{'india': 'delhi', 'canada': 'ottawa'}
delhi

In [42]:
# None
a = None
print(a)

None

In [56]:
# print
a = 10
b = 11

#print(a)
print("Value of a({}), b({}) ".format(a, b))
print("Value of a(",a,")")

str1 = 'abc'
str2 = 100
print(str1)

print(str1 + str(str2))

Value of a(10), b(11)
Value of a( 10 )
abc

TypeError: 'str' object is not callable

In [58]:
# conditional statement
a = 10
b = 100
c = 500

if a > b:
    print("a is greater than b")
elif b > c:
    print("b is greater than c")
else:
    print("c is greater than a/b")

c is greater than a/b

In [64]:
# and 
a = 10000
b = 100
c = 10

if a > b and b > c:
    print("a is largest among all")    

c = 40000
if a > b or b > c:
    print("a is largest than b")

a is largest among all
a is largest than b

In [ ]:

# loop - for, while
# function 
# lambdas - map & filter 

# packages / virtual enviroment

# class - oops